---
interface Props {
  image: string;
  title: string;
  description: string;
}

const { image, title, description } = Astro.props;
---

<div class="group bg-gradient-to-b from-green-600 to-green-700 text-white rounded-2xl p-8 text-center shadow-md hover:shadow-xl transition-all duration-300 transform hover:-translate-y-1">
  <!-- Imagen que va a girar cuando haya hover en el grupo-->
  <div class="flex justify-center items-center mb-6 bg-white rounded-xl w-24 h-24 mx-auto shadow-inner transition-transform duration-300 group-hover:scale-105">
    <img
      src={image}
      alt={title}
      class="w-14 h-14 object-contain transition-transform duration-700 group-hover:animate-spin"
    />
  </div>

  <!-- Título -->
  <h3 class="text-2xl font-bold mb-3 tracking-wide transition-colors duration-300 group-hover:text-green-100">{title}</h3>

  <!-- Descripción -->
  <p class="text-green-50 leading-relaxed text-sm md:text-base">{description}</p>
</div>