---
import ItemMenuComponent from "./itemMenuComponents.astro";
import { ItemMenuComponents } from "../data/itemMenu";
---

<header class="bg-green-600 shadow-md fixed top-0 left-0 w-full z-50">
  
  <div class="container mx-auto flex justify-between items-center p-4 text-white">
    
    <div class="flex items-center">
      <img src="/src/assets/img/logo.png" width="50" alt="Logo" />
    </div>
    <!-- toma los datos del itemMenu.ts  -->
    <ItemMenuComponent items={ItemMenuComponents} layout="horizontal" />
    
    <div class="md:hidden">
      <button id="menu-btn" class="text-white focus:outline-none" aria-controls="mobile-menu" aria-expanded="false">
        <span class="sr-only">Abrir menú</span>
        <div class="space-y-1.5">
          <div class="w-6 h-0.5 bg-white"></div>
          <div class="w-6 h-0.5 bg-white"></div>
          <div class="w-6 h-0.5 bg-white"></div>
        </div>
      </button>
    </div>
  </div>

  <div id="mobile-menu" class="hidden md:hidden bg-green-600">
    <div class="container mx-auto px-4 pb-4">
      <ItemMenuComponent items={ItemMenuComponents} layout="vertical" />
    </div>
  </div>
</header>

<!-- script para el responsive -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menuBtn = document.getElementById('menu-btn');
    const mobileMenu = document.getElementById('mobile-menu');

    if (menuBtn && mobileMenu) {
      menuBtn.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
        
        const isExpanded = menuBtn.getAttribute('aria-expanded') === 'true';
        menuBtn.setAttribute('aria-expanded', String(!isExpanded));
      });
    } else {
      console.warn("No se encontraron los elementos del menú responsive (botón o contenedor).");
    }
  });
</script>